<p class='number'><%- number %> </p>

<style>
    .number{
        font-size: 50rem;
        padding-top: 2%;
        padding-left: 37%;
        color: white;
    }

    body{
        background-color: black;
    }
</style>