<%- include('../template/header',{title: 'PiWall bookmark'})%> 
<%- include('../template/navbar',{active:'bookmark'}) %> 

<div class="page-content">
	<button type="submit" class='btn btn-sm btn-primary' onclick="$('#form').submit()">Save</button>
	<hr>
	<% if(typeof saved !== 'undefined'){ %>
		<h4 class='bg-success text-white'>Bookmark was saved</h4>
	<%}%> 
	<%- typeof errors == 'undefined' ? '' : errors.url.msg %> 
	<form id='form' method="POST">
		<div class="form-group">
			<label for="exampleInputEmail1">Url</label>
			<input type="text" class="form-control" id="url" name="url" placeholder="Enter url" required autofocus>
		</div>
	</form>
</div>