<span class="dropdown">
  <button class="btn btn-sm btn-secondary bg-white text-black dropdown-toggle border-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-ellipsis-v dropdown-toggle"></i>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li>
      <a class="dropdown-item send-urla" href="#" data-bs-toggle="modal" data-bs-target="#modalId" data-client-id="<%- client.id %>" title="open page in remote browser">
        <i class="fas fa-paper-plane cursor-pointer"></i> Open custom url
      </a>
    </li>
    <li>
      <a class="dropdown-item  update-screenshot" href="#" title="take a screenshot">
        <i class="fas fa-camera cursor-pointer"></i> Take screenshot
      </a>
    </li>

    <li>
      <a class="dropdown-item close-all-browser-page" href="#" title="close all remote browser page">
        <i class="fas fa-window-close cursor-pointer"></i> Close remote browser
      </a>
    </li>
    <li>
      <a class="dropdown-item show-osd-number" href="#" title="show display number">
        <i class="fas fa-fingerprint cursor-pointer"></i> Show display number
      </a>
    </li>     
  </ul>
</span>