<div class="dropdown mt-2">
  <button class="btn btn-sm bg-white border dropdown-toggle" type="button" id="dropdownBroadcast" data-bs-toggle="dropdown" aria-expanded="false">
    Broadcast
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
      <a class="dropdown-item broadcast-fill-hostname" href="#" title="Fills hostname of client">
        <i class="fas fa-download"></i></i> Fills hostname
      </a>
      </li>
    <li>
      <a class="dropdown-item broadcast-close-browser" href="#" title="close browser in all client">
        <i class="fas fa-window-close"></i> Close all browser
      </a>
    </li>
    <li>
      <a class="dropdown-item broadcast-show-osd-number" href="#" title="show display number in all client">
        <i class="fas fa-fingerprint"></i> Show display number
      </a>
    </li>
  </ul>
</div>