<div class="dropdown mt-2">
    <button class="btn btn-sm bg-white border dropdown-toggle" type="button" id="dropdownLayout" data-bs-toggle="dropdown" aria-expanded="false">
        Layout
  </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownLayout">
        <li>
          <a class="dropdown-item layout-save disabled" href="#" title="Save actual layout">
            <i class="fas fa-save"></i> Save layout
          </a>
      </li>
    <li>
        <a class="dropdown-item layout-reload disabled" href="#" title="Reload actual layout">
          <i class="fas fa-sync-alt"></i> Reload layout
        </a>
    </li>
  </ul>
</div>