<div class="">
    <div class="list-group">
        <% bookmarks.forEach((bookmark) => { %>
            <a href="#" class="list-group-item list-group-item-action" title="Load on device"><%- bookmark.url %> </a>
            <% }) %> 
      </div>
</div>
