<%- include('../template/header',{title: global.appName +' controller'})%> 
<%- include('../template/navbar',{active:'layout'}) %>

<div class="page-content">
    <div class='row'>
        <div class="col-auto">
            <button id='saveLayout' class='btn btn-sm btn-primary mt-4'>Save</button>
        </div>
        <div class="col-10">
            <label for="layoutName">Name</label>
            <input type="text" name="layoutName" id="layoutName" class="form-control" maxlength="30" style="width: 200px;">
        </div>

        <div class='col-auto mt-4'>
            <select name="rows" id="rowsNumber">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            X
            <select name="columns" id="columnsNumber">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <button id='generateGrid' class='btn btn-sm btn-primary'>Generate</button>
        </div>
    
    </div>

    <hr>
    <div class="row h-100">
        <div id="clientList" class="col-2 border">
            <%- include('components/clientList') %> 
        </div>
        <div id="gridList" class="col-10 border">
            <%- include('components/grid') %> 
        </div>
    </div>
</div>

<script>

const containers = document.querySelectorAll('.BlockLayout');

var deviceDroppedId = null;
var overContainer = null;

const droppable = new Draggable.Droppable(containers, {
    draggable: '.isDraggable',
    dropzone: '.isDropzone',
    mirror: {
        constrainDimensions: true,
    },
});

$('#saveLayout').on('click',event =>{
    var layoutName = $("#layoutName").val()
    
    if(layoutName === ''){
        alertNotification('No layout name')
        return ;
    }

    if($('#gridTable').length === 0){
        alertNotification('No grid layout has been created')
        return ;
    }

    try{
        $('#gridTable td').each((index,td) =>{
            if($(td).find('.client').length === 0){
                alertNotification('all boxes must contain a client')
                throw 'Break';
            }
        })
    } catch(e){
        return ;
    }

    var saveGrid = new Array($('#gridTable tr').length);
    $('#gridTable tr').each((index,tr) =>{
        var row_id = tr.dataset.row;
        var row = new Array($(tr).find('td').length);

        $(tr).find('td').each((index,td) =>{
            var col_id = td.dataset.col;
            var client_id = $(td).find('.client').data('clientid');

            row[col_id] = client_id;
        })
        saveGrid[index] = row;
    })

    axios.post('/Layout/saveLayout',{
        name: layoutName, 
        data: saveGrid
    })
    .then(response =>{
        console.log(response)
    })
})
</script>