<head>
    <title><%- title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/main.js"></script>

    <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/bootstrap.js"></script>
    <script src="/axios/axios.js"></script>
    <script src="/redom/redom.js"></script>
    <script src="/bootbox/bootbox.all.min.js"></script>

    <script src="/fontawesome/all.min.js"></script>
    <link rel='stylesheet' href='/fontawesome/all.min.css' />

    <script src="/awesome-notifications/index.var.js"></script>
    <link rel='stylesheet' href='/awesome-notifications/style.css' />

    <script src="/viewerjs/viewer.min.js"></script>
    <link rel='stylesheet' href='/viewerjs/viewer.min.css' />

    <script src="/jsonviewer/jquery.json-viewer.js"></script>
    <link rel='stylesheet' href='/jsonviewer/jquery.json-viewer.css' />

    <script src="/draggable/draggable.bundle.js"></script>
    <script>
      const { el, mount } = redom;

      let globalOptions =  {}
      let notifier = new AWN(globalOptions);
    </script>
  </head>