<div id="sortable-bookmark-container" class="list-group BlockLayout">
    <% bookmarks.forEach((bookmark) => { %>
        <div class="isDropzone">
            <a href="#" class="list-group-item list-group-item-action bookmark isDraggable" title="Load on device" data-bookmark-id='<%- bookmark.id %>'>
                <%- bookmark.url %>
            </a>
        </div>
        <% }) %> 
  </div>