<div class=" border-right BlockLayout">
    <% clients.forEach((client) => { %>
        <div class="isDropzone">
            <div class="client cursor-pointer no-select isDraggable" data-clientId='<%- client.id %>'>
                <div class='clientId'><%- client.id %></div>
            </div>
        </div>
    <% }) %> 
</div>

<style>
    .client{
        height: 100px;
        border: solid 1px black;
        background: white;
    }
    .clientId{
        position: relative;
        left: 40%;
        font-size: 4rem;
        width: 100px;
    }

    #clientList .isDropzone{
        min-height: 100px;
        border: 2px solid black;
        background-image: repeating-linear-gradient(-45deg,#fff,#fff 40%,currentColor 0,currentColor 50%,#fff 0);
        background-size: .8rem .8rem;
        color: #212529;
        transition: color .12s cubic-bezier(.64,0,.35,1);
        margin-bottom: 5px;
        margin-top: 5px;
    }
</style>